@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');


*{padding:0;margin:0;}

table tbody tr td a {
    color: #0067ac;
}

table tbody tr td a:hover {
    color: #002a61;
}

a {
    color: #0067ac;
}

a:hover {
    color: #002a61;
}

.float{
position:fixed;
width:60px;
height:60px;
bottom:25px;
right:25px;
border-radius:50px;
}

.my-float{
margin-top:22px;
}

.thumbnail {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}
.thumbnail .profil {
    width: 28px !important; 
    height: 28px !important;
}

/* .btn-its {
    color: #fff;
    background-color: #013880;
    border-color: #013880;

}

.btn-its:hover {
    background-color: #002a61;
    color: #fff;
} */

.btn-its {
    background-color: #013880;
    border-color: #013880;
    color: #fff; }
    .btn-its:hover, .btn-its:focus {
      background-color: #002a61;
      color: #ffffff; }
    .btn-its:active, .btn-its.active {
      background-color: #002a61; 
}

.btn-its2 {
    background-color: #ffbd07;
    border-color: #dba307;
    color: #001737 ; }
    .btn-its2:hover, .btn-its2:focus {
      background-color: #eeb005;
      color: #001737 ; }
    .btn-its2:active, .btn-its2.active {
      background-color: #eeb005; 
}

.btn-white {
    color: #001737;
}

.btn-white:hover {
    background-color: #f5f6fa;
}

.tx-color-its {
    color: #013880; 
}

.tx-color-its2 {
    color: #ffbd07;
}

.tx-color-its3 {
    color: #0067ac;
}

.navbar-brand {
    margin-right: 0px;
}

.dropdown-profile .dropdown-menu {
    border-radius: 0.5rem;
}

.dropdown-profile .dropdown-item:hover, .dropdown-profile .dropdown-item:focus {
    background-color: transparent;
    color: #013880;
}

.aside-logo {
    margin-top: 0px;
}

.bg-its {
    background-color: #013880;
}

.bg-its-icon {
    background-color: #01388027 ;
}

body {
    font-family: 'Roboto', sans-serif;
}

.alert-its2 {
    color: #ffffff;
    background-color: #ffbd07;
    border-color: #dba307;
}

.tx-montserrat {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.dark-mode {
    display: none;
}

.nav-link.active {
    color: #013880;
}

.nav-link:hover, .nav-link:focus {
    color: #013880; }

.nav-line .nav-link.active::after {
    background-color: #013880;
}

.nav-aside {
    font-size: 14px;
}

.nav-aside .nav-item {
    margin: 5px 0px;
}

.nav-aside .nav-item.active .nav-link{
    color: rgba(27, 46, 75, 0.9);
    font-weight: 500;
}

.nav-aside .nav-item:hover .nav-link{
    color: rgba(27, 46, 75, 0.9);
}

.nav-aside .nav-item.active .nav-link::before {
    border-left-color: #013880;
}

.nav-aside .nav-item.active .nav-link svg {
    opacity: 1;
    color: #013880;
    font-weight: 500;
}

.nav-aside .nav-item:hover .nav-link svg {
    opacity: 1;
    color: #013880;
    font-weight: 500;
}

/* .nav-aside .nav-label {
    padding: 0px 15px;
} */
/* 
.nav-aside .nav-item {
    margin: 0px;
}

.nav-aside .nav-item .nav-link{
    background: transparent;
    border-radius: 0.313rem;
    padding: 20px 15px;
}

.nav-aside .nav-item .nav-link:hover {
    background: #f4f5f8;
}

.nav-aside .nav-item.active .nav-link{
    color: rgba(27, 46, 75, 0.9);
    font-weight: 500;
}

.nav-aside .nav-item.active .nav-link::before {
    border-left-color: #013880;
}

.nav-aside .nav-item.active .nav-link svg {
    opacity: 1;
    color: #013880;
    font-weight: 500;
} */

.m-ht-50 {
    min-height: 50px;;
}

/* .ui-datepicker {
    z-index: 1050 !important;
} */

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a, .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a:hover, .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a:focus {
    background-color: #013880;
    color: #fff;
    border-radius: 0.313rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #ffffff;
    border-color: #002e69;
    background-color: #013880;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    border-color: #001f4779;
    background-color: #002e6979; }

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    border-color: #001f4779;
    background-color: #002e6979; }

/* .nav-aside svg {
    width: 22px !important;
    height: 22px !important;
} */

/* .bootstrap-tagsinput .tag {
    background-color: #013880 !important;
    border-radius: 0.25rem !important;
    margin-bottom: 10px !important;
    margin-right: 5px !important;
}

.bootstrap-tagsinput input {
    border: none !important;
    box-shadow: none !important;
    padding: 1px 5px 0px 2px !important;
    margin: -2px !important;
    background-color: #fff !important;
    color: #000 !important;
    border-radius: 0.25rem !important;
    height: 26px !important;
    width: auto;
    max-width: inherit;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-top: -0.238rem !important;

}


.bootstrap-tagsinput {
    background-color: #fff !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0px !important;
}

.bootstrap-tagsinput .tt-menu {
    margin-top: 7px;
    margin-left: 0px !important;
}

.tt-menu {
    min-width: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(72, 94, 144, 0.16);
    padding: 5px;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: 0 6px 8px 2px rgba(28, 39, 60, 0.04);
}

.tt-suggestion:hover, .tt-suggestion:focus {
    background-color: #013880 !important;
} */

.form-control {
    border-radius: 0.313rem;
}

.form-control::placeholder {
    color: #999999;
    opacity: 1; 
}

.wizard {
    border-radius: 0.5rem;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    border-radius: 0.313rem;
    background-color: #013880;
    border-color: #013880;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}

.wizard > .steps .current a .number, .wizard > .steps .current a:hover .number, .wizard > .steps .current a:active .number {
    border-color: #013880;
    background-color: #013880;
    color: #fff;
}

/* 

.wizard > .actions > ul > li:last-child a {
    background-color: #97a3b9;
}
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
    background-color: #97a3b9 !important;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background-color: #013880;
    padding: 8px 15px;
    line-height: 1.5;
    border-radius: 0.313rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.wizard > .steps .current a .number, .wizard > .steps .current a:hover .number, .wizard > .steps .current a:active .number {
    border-color: #013880;
    background-color: #013880;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    color: #013880;
} */

/* 
.placeholder-paragraph .line::before {
    content: none !important;
}

.placeholder-paragraph .line {
    width: 50% !important;
    margin: 9px 0px 0px 0px !important;
}

.placeholder-paragraph .line::after {
    height: 15px !important;
    width: 25% !important;
} */


.placeholder-media .line, .placeholder-media .line::before, .placeholder-media .line::after {

    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #e3e7ed;
    background: linear-gradient(to right, #e3e7ed 8%, #cdd4e0 18%, #e3e7ed 33%);
        background-size: auto;
    background-size: 800px 10px;

}
.placeholder-media .line::before {
    border-radius: 0.25rem;
    width: 50px;
    height: 50px;
}

.accordion-style2 {
    box-shadow: none; }
    .accordion-style2 .ui-accordion-header {
      border-width: 0;
      background-color: #0168fa;
      color: #fff;
      border-width: 1px !important;
      border-bottom-width: 0 !important;
      border-color: transparent;
      border-radius: 0.25rem; }
      .accordion-style2 .ui-accordion-header ~ .ui-accordion-header {
        margin-top: 5px; }
      .accordion-style2 .ui-accordion-header.ui-state-active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0.25rem !important;
        border-top-right-radius: 0.25rem !important;
        background-color: #f1f7ff;
        color: #0168fa;
        border-color: #0168fa; }
    .accordion-style2 .ui-accordion-content {
      background-color: #f1f7ff;
      border-width: 1px !important;
      border-top-width: 0 !important;
      border-color: #0168fa; }
      .accordion-style2 .ui-accordion-content.ui-accordion-content-active {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important; }
  
  .accordion-its .ui-accordion-header.ui-state-active {
    color: #013880; }
  
  .accordion-its.accordion-style1 .ui-accordion-header.ui-state-active {
    border-color: #013880;
    background-color: #ffffff; }
  
  .accordion-its.accordion-style1 .ui-accordion-content.ui-accordion-content-active {
    border-color: #013880;
    background-color: #ffffff; }
  
  .accordion-its.accordion-style2 .ui-accordion-header {
    background-color: #013880; }
    .accordion-its.accordion-style2 .ui-accordion-header:hover {
      background-color: #002a61; }
    .accordion-its.accordion-style2 .ui-accordion-header.ui-state-active {
      background-color: #ffffff;
      color: #013880;
      border: 1px solid rgba(72, 94, 144, 0.16); }
  
  .accordion-its.accordion-style2 .ui-accordion-content {
    background-color: #ffffff;
    border: 1px solid rgba(72, 94, 144, 0.16); }
  

.table-hover tbody tr {
    transition: 0.3s;
}

.table-hover tbody tr:hover {
    background-color: #f4f5f8;
}


.table td.td-its {
    padding: 15px 21px;
}

.table th.th-its {
    padding: 15px 21px 5px 21px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus {
    background-color: #013880; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0.313rem;
}

table.dataTable {
    border: 0;
}

table.dataTable tbody td.sorting_1 {
    background-color: #f3f4f700;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-color: #eceff370;
}

.dataTables_wrapper .dataTables_length label {
    margin-top: 15px;
    margin-left: 20px;
}

.dataTables_wrapper .dataTables_filter {
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.dataTables_wrapper .dataTables_info {
    padding: 0;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 13px;
    color: #7987a1;
}

.dataTables_wrapper .dataTables_paginate {
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child, table.dataTable.dtr-inline.collapsed > tbody > tr > th.child, table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
    padding-left: 20px;
}

.clickable-row {
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    cursor: pointer;
}

.breadcrumb-style2 .breadcrumb-item a:hover {
    color: #013880;
}
  
.breadcrumb-style2 .breadcrumb-item a {
    color: #7987a1;
}
  
.breadcrumb-style2 .breadcrumb-item.active {
    color: #013880;
}

.bg-its {
    background-color: #013880; 
}

.bd-its {
    border-color: #013880; 
}

.bd-its2 {
    border-color: #ffbd07; 
}

.ofx-auto {
    overflow: auto;
}


.aside-header {
    border-right: transparent;
}

/* .aside-body {
    padding: 15px 10px;
} */

.card {
    border-radius: 0.5rem;
}

.card-body.card-link{
    background-color: none;
    transition: 0.2s;
}
.card-body.card-link:hover{
    border-radius: 0.5rem;
    background-color: #f4f5f8;
}

.card-body.card-link-center{
    background-color: none;
    transition: 0.2s;
}
.card-body.card-link-center:hover{
    border-radius: 0rem;
    background-color: #f4f5f8;
}

.card-body.card-link-end{
    background-color: none;
    transition: 0.2s;
}
.card-body.card-link-end:hover{
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    background-color: #f4f5f8;
}

.card-footer.card-link{
    background-color: none;
    transition: 0.2s;
}
.card-footer.card-link:hover{
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #f4f5f8;
}

.card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-profile .card-body {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card-body-link {
    color: #1b2e4b;
}

.card-body-link:hover {
    background-color: #f5f6fa;
    /* border-radius: 0.5rem; */
}

.card-tx {
    padding: 10px 21px;
}

.card-tx-title {
    padding: 20px 21px 0px 21px;
}

.card-file:hover, .card-file:focus {
    border-color: none; 
}

/* .card-list .card-list-item:hover {
    text-decoration: underline;
} */

/* .dropdown-file {
    right: 10px;
} */

.btn, .ui-datepicker-buttonpane button, .sp-container button {
    border-radius: 0.313rem;
}

.rounded-its {
    border-radius: 0.313rem;
}

.modal-content {
    border-radius: 0.5rem;
}

.rounded-its2 {
    border-radius: 0.5rem;
}

.rounded-its3 {
    border-radius: 50px;
}


.toast {
    border-radius: 0.5rem;
}

.popover {
    border-radius: 0.5rem;
}

/* .carousel-control-next-its {
    right: 10px;
}

.carousel-control-prev-its {
    right: 35px;
}

.carousel-control-prev-its, .carousel-control-next-its {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.carousel-control-prev-icon-its svg, .carousel-control-next-icon-its svg {
    width: 24px;
    height: 24px;
} */

.carousel-control-prev-its, .carousel-control-next-its {
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.footer-its{ 
    position:absolute; 
    bottom:0; 
    width:90%; 
    height:50px; 
}

/* .list-item {
    border-bottom: 1px solid #e5e9f2;
    border-top: none !important;
} */

.list-group-item:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; 
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; 
}

.list-group-item-action {
    transition: 0.2s;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    background-color: #f4f5f8;
}

.footer-its{ 
    position:absolute; 
    bottom:0; 
    width:90%; 
    height:50px; 
}

.media-folder {
    border-radius: 0.5rem !important;
}

.dropdown-file .dropdown-item {
    font-size: 14px !important;
}

.bg-success-15 {
    background-color: #10B75926 !important;
}

.bg-warning-15 {
    background-color: #FFC10726 !important;
}

.bg-danger-15 {
    background-color: #DC354526 !important;
}

.bg-info-15 {
    background-color: #00B8D426 !important;
}

.bg-orange-15 {
    background-color: #fd7e1426 !important;
}

.bg-gray-15 {
    background-color: #7987a126 !important;
}

.btn{
    transition: 0.3s;
}

.btn:active {
    transform: scale(0.9);
    transition: 0.3s;
}

.btn-its-icon {
    background-color: transparent;
    border-color: transparent;
    color: #8392a5; }
    .btn-its-icon:hover, .btn-its-icon:focus {
      background-color: #f4f5f8;
      border-color: #f4f5f8;
      color: rgb(0, 23, 55); }
    .btn-its-icon:active, .btn-its-icon.active {
      background-color: #d1d1d1; 
      border-color: #d1d1d1;
      color: rgb(0, 23, 55);
    }

    .btn-its-icon svg {
        width: 17.5px !important;
        height: 17.5px !important;
        stroke-width: 2.3px;
    }

.media .media-body a:hover{
    text-decoration: underline;
}

.card-file .card-body a:hover{
    text-decoration: underline;
}

.dropdown-file {
    top: 5px !important;
    right: 5px !important;
}

.dropdown-file .dropdown-link {
    color: #8392a5;
}

.dropdown-custom .dropdown-item svg {
    width: 14px;
    height: 14px;
    stroke-width: 2.5px;
    margin-right: 10px;
    color: #8392a5;
}

@media (min-width: 992px) {
.clickable-row .td-its .icon-hover {
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    transition: all 0.2s ease-in-out;
    margin-right: 10px;
  }
  .clickable-row:hover > .td-its .icon-hover { 
    visibility:visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    margin-right: 0px;
  }
}

/* tbody tr.clickable-row {
    border-top: transparent;
}

tbody tr.clickable-row + tr.clickable-row {
    border-top: 1px solid rgba(72,94,144,0.16);
} */


.card-list .card-list-item + .card-list-item{
margin-top: 1rem;
border-top: 1px solid rgba(72, 94, 144, 0.16);
padding-top: 1rem;
}

@media (min-width: 992px) {
.card-list-item a .sc-link .btn.btn-hover {
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    transition: all 0.2s ease-in-out;
    margin-right: 10px;
  }
  .card-list-item a .sc-link:hover > .btn.btn-hover { 
    visibility:visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    margin-right: 0px;
  }

  /* .card-list-item a .sc-link .media .bg-its-icon {
    transition: all 0.2s ease-in-out;
  }
  .card-list-item a .sc-link:hover > .media .bg-its-icon { 
    transition: all 0.2s ease-in-out;
    margin-left: 10px;
  } */
}

/* .card-list .card-list-text{
    margin-top: 0px;
} */

/*Card Checkbox*/
.card-list .card-list-text + .card-list-text{
    margin-top: 1rem;
}

.card-list .card-list-media + .card-list-media{
    margin-top: 1rem;
}

.card-input-element+.card {
    border: 1px solid rgba(72, 94, 144, 0.16);
}
.card-input-element+.card:hover {
    cursor: pointer;
}
.card-input-element:checked+.card {
    -webkit-transition: border all 0.2s ease-in-out;
    -o-transition: border all 0.2s ease-in-out;
    transition: border all 0.2s ease-in-out;
}
.card-input-element:checked+.card::after {
    -webkit-animation-name: fadeInCheckbox;
    animation-name: fadeInCheckbox;
    -webkit-animation-duration: all 0.2s ease-in-out;
    animation-duration: all 0.2s ease-in-out;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-input-element.card-its+.card:hover {
    border: 1px solid  #013880;
}
    .card-input-element.card-its:checked+.card {
        border: 1px solid #013880;
        Background: #013880;
        color: #fff;
    }
.card-input-element.card-its-info+.card:hover {
    border: 1px solid  #00b8d4;
}
    .card-input-element.card-its-info:checked+.card {
        border: 1px solid #00b8d4;
        Background: #00b8d4;
        color: #fff;
    }
.card-input-element.card-its-secondary+.card:hover {
    border: 1px solid  #596882;
}
    .card-input-element.card-its-secondary:checked+.card {
        border: 1px solid #596882;
        Background: #596882;
        color: #fff;
    }
.card-input-element.card-its-success+.card:hover {
    border: 1px solid  #10b759;
}
    .card-input-element.card-its-success:checked+.card {
        border: 1px solid #10b759;
        Background: #10b759;
        color: #fff;
    }
.card-input-element.card-its-danger+.card:hover {
    border: 1px solid  #dc3545;
}
    .card-input-element.card-its-danger:checked+.card {
        border: 1px solid #dc3545;
        Background: #dc3545;
        color: #fff;
    }
.card-input-element.card-its-orange+.card:hover {
    border: 1px solid  #fd7e14;
}
    .card-input-element.card-its-orange:checked+.card {
        border: 1px solid #fd7e14;
        Background: #fd7e14;
        color: #fff;
    }
.card-input-element.card-its-gray-600+.card:hover {
    border: 1px solid  #7987a1;
}
    .card-input-element.card-its-gray-600:checked+.card {
        border: 1px solid #7987a1;
        Background: #7987a1;
        color: #fff;
    }

.card .card-alert-success::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-left: 7px solid #10b759;
    opacity: 1;
    visibility: visible;
    border-radius: 0.5rem 0 0 0.5rem;
}
.card .card-alert-warning::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-left: 7px solid #fd7e14;
    opacity: 1;
    visibility: visible;
    border-radius: 0.5rem 0 0 0.5rem;
}
.card .card-alert-danger::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-left: 7px solid #dc3545;
    opacity: 1;
    visibility: visible;
    border-radius: 0.5rem 0 0 0.5rem;
}
.card .card-alert-info::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-left: 7px solid #00b8d4;
    opacity: 1;
    visibility: visible;
    border-radius: 0.5rem 0 0 0.5rem;
}
.card .card-alert-its::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-left: 7px solid #013880;
    opacity: 1;
    visibility: visible;
    border-radius: 0.5rem 0 0 0.5rem;
}
.card .card-alert-grey::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-left: 7px solid #596882;
    opacity: 1;
    visibility: visible;
    border-radius: 0.5rem 0 0 0.5rem;
}